.modal {
	background-color: rgba($darkColor, 0.93);
	color: #ffffff;
	cursor: pointer;
	height: 100%;
	left:0;
	opacity: 1;
	position: fixed;
	top:0;
  transition: opacity 0.3s;
	width: 100%;
	z-index: 50;

	p {
		font-size: 20px;
		font-weight: 700;
		height: 200px;
		left: 5%;
		line-height: 30px;
		margin-top: -150px;
		padding: $defaultMargin;
		position: absolute;
		top:50%;
		width: 90%; 		
	}

	&.off {
		opacity: 0;
		pointer-events: none;
	}

	.close {
    background: white;
		cursor: pointer;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 700; 
    height: $elementSize;
    left: 50%;
    margin-left: -($wrapper / 4);
    margin-top: 50px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    width: ($wrapper / 2);
	}
}