* {
	box-sizing: border-box;
}


::-webkit-input-placeholder { 
  color: inherit;
 	opacity: 0.6;
  font-size: inherit;
}
:-moz-placeholder {
 	color: inherit;
 	opacity: 0.6;
  font-size: inherit;
}
::-moz-placeholder {
 	color: inherit;
 	opacity: 0.6;
  font-size: inherit;
}
:-ms-input-placeholder {
 	color: inherit;
 	opacity: 0.6;
  font-size: inherit;
}
